dataset/
/dataset
dataset_aug/
/dataset_aug
/incorrect
incorrect/
/dataset_split
dataset_split/
models/
/models
dataset_stick/
/dataset_stick
dataset_organized/
/dataset_organized
dataset_augmented/
/dataset_augmented
debug_output/
/debug_output
features_train_split.csv
features_test_split.csv
venv_gcn/
dataset_graphs/
runs/
reference_poses/